<div class="container">
    <h3>Ajout d'un produit</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div>
            <label> Référence du produit </label>
            <input type="number" name="reference" #n="ngModel"
            required class="form-control" [(ngModel)]="produit.reference">
        </div>
        <div *ngIf="n.invalid && n.dirty" class="alert alert-danger">
            La référence doit être un nombre
        </div>
        <div>
            <label>Libellé</label>
            <input type="text" name="lib" required #l="ngModel"
            pattern = "[A-Z][a-zA-Z]+"
            class="form-control"[(ngModel)]="produit.libelle">
        </div>
        <div *ngIf="l.errors?.required && l.dirty" class="alert alert-danger">
            La libellé est obligatoire
        </div>
        <div [hidden]="!l.errors?.pattern || l.pristine" class="alert alert-danger">
            La pattern est erroné
        </div>
        <div>
            <label> Made In </label>
            <label>
                <input type="radio" name="madeIn" value="Tunisie" [(ngModel)]="produit.madeIn">Tunisie
            </label>
            <label>
                <input type="radio" name="madeIn" value="Autre" [(ngModel)]="produit.madeIn">Autre
            </label>
        </div>
        <div>
            <label>Catégorie</label>
            <select name="categ" class="form-select" [(ngModel)]="produit.categorie">
                <option *ngFor="let c of lesCategories" [value]="c">{{c}}</option>
            </select>
        </div>
        <div>
            <label>
                <input type="checkbox" name="nouv" [(ngModel)]="produit.nouveau"> Nouveau
            </label>
        </div>
    
        <input type="submit" [disabled]="f.invalid" value="Ajouter" class="btn btn-danger">
        <input type="button" value="Vider" (click)="onVider(f)" class="btn btn-success">
    
    </form>
    <div *ngIf="f.submitted">
        {{message}}
    </div>
 
</div>


